.container {
  padding: 2rem;
  min-height: 120vh;
  display: grid;
  grid-template-columns: 22rem 49rem;
  grid-template-rows: auto 1fr;
  grid-template-areas: "buttons pdf" "form-list pdf";
  justify-content: center;
  gap: 1rem 2rem;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: form-list;
}

.formSection {
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  border: none;
}

.formSectionHeader {
  display: flex;
  gap: 0.5rem;
  height: 1.2rem;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;
}

.formSectionHeader .arrow {
  margin-inline: auto 0.5rem;
  padding: 0;
  padding: 0.1rem;
}
.formSection.expanded .arrow {
  transform: rotate(180deg);
}

.sectionContent {
  margin-top: 1rem;
}

.pdf {
  grid-area: pdf;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.invalid {
  outline: 3px solid var(--red);
  outline-offset: 3px;
}

@media print {
  body {
    margin: 0;
  }

  .container {
    display: block;
  }

  .pdf {
    width: 210mm;
    min-height: 297mm;
  }

  .buttons,
  .forms {
    display: none !important;
  }
}

@media screen and (width <= 1200px) {
  .container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    
    grid-template-areas: "buttons" "form-list" "pdf";
    padding: 0.5rem;
    word-break: break-all;
  }
}