.container {
  padding: 2rem;
  min-height: 120vh;
  display: grid;
  grid-template-columns: 22rem 48rem;
  justify-content: center;
  gap: 2rem;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formSection {
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  border: none;
}

.formSectionHeader {
  display: flex;
  gap: 0.5rem;
  height: 1.2rem; 
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;
  justify-content: space-between; 
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.formSectionHeader button {
  margin-right: 0.5rem;
  aspect-ratio: 1;
  border: none;
  background: none;
  padding: 0;
  padding: 0.1rem;
}


.pdf {
  background-color: var(--white);
  box-shadow: var(--shadow);
}