.container {
  padding: 2rem;
  min-height: 120vh;
  display: grid;
  grid-template-columns: 22rem 48rem;
  justify-content: center;
  gap: 2rem;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
}

.section header {
  display: flex;
  gap: 0.5rem;
  height: 1em;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;  
}

.section header button {
  margin-inline: auto 0.5rem;
  aspect-ratio: 1;
  border: none;
  background: none;
  padding: 0;
}


.pdf {
  background-color: var(--white);
  box-shadow: var(--shadow);
}