
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  color: var(--white);
  font-weight: 600;
}

button.loadExample {
  background-color: var(--white);
  color: var(--black);
}

.clearResume {
  background-color: var(--red);
}

.savePdf {
  background-color: var(--orange);
  grid-column: span 2;
}