.custom-info label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

.custom-info input {
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  width: 100%;
  background-color: transparent;
}

.custom-info > :not(:last-child) {
  margin-bottom: 1rem;
}

.custom-info .hint {
  margin-top: 0.25rem;
  color: rgba(0, 0, 0, 0.5);
}

.custom-info input:focus {
  outline: 3px solid var(--orange);
  outline-offset: 3px;
}