.pdf {
  padding: 2.5rem 1.5rem;
  & .personal-data {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

    & .profile-photo img {
      height: 9rem;
      max-width: 9rem;
      object-fit: cover;
      border: 2px solid black;
    }
    & .text-container.center {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .fullName {
      font-size: 3rem;
    }

    & .contact-info {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 0.5rem 1rem;
    }

    & .contact-info a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      color: var(--black);
    }

    & .contact-info a div {
      height: 1.5em;
      border-radius: 50%;
      padding: 0.25rem;
    }
  }

  h3 {
    padding: 0.5rem 1rem;
    line-height: 1;
  }

  .content-wrapper {
    padding: 1rem;
  }
  .skills-data {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;

    & ul {
      padding: 0 1rem;
    }
  }

  .works-data,
  .educations-data {
    padding: 0;
    display: grid;
    gap: 0.5rem;
  }
  .works-data > li,
  .educations-data > li {
    list-style-type: none;
  }
  .works-data > li div,
  .educations-data > li div {
    display: flex;
    gap: 1ch;
  }
  .works-data > li ul,
  .educations-data > li ul {
    padding: 0.25rem 3ch;
    list-style-type: disc;
    font-size: 0.9rem;
  }

  .works-data > li div :last-child,
  .educations-data > li div :last-child {
    margin-left: auto;
  }
  .bold {
    font-weight: 700;
  }

  .role,
  .degree {
    font-weight: 700;
  }
}
