
.input-group:not(:last-child) {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input-group input {
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  width: 100%;
  background-color: transparent;
}

.input-group input:focus {
  outline: 3px solid var(--orange);
  outline-offset: 3px;
}

.input-group input[type="file"]::-webkit-file-upload-button {
  border: none;
  background-color: transparent;
  font-weight: 600;
}
