.skills {
  margin-top: 1rem;
  width: 100%;
}

.skills > label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

.skill-item {
  margin-bottom: 0.5rem;
}

.skill-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
}

.skill-item input,
.skill-item select,
.add-skill {
  width: 100%;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background-color: transparent;
}

.skills input:focus,
.skill-item > select:focus {
  outline: 3px solid var(--orange);
  outline-offset: 3px;
}

.delete-skill {
  align-self: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 1.3rem;
  flex: none;
}

.add-skill {
  width: 100%;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
