.work-list {
  margin-top: 1rem;
}

.work-list .content > :not(:last-child) {
  margin-bottom: 1rem;
}

.work-list .content label,
.work-list > p {
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

.work-item {
  position: relative;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1.2rem;
}

.work-item:hover .delete-work-item {
  opacity: 1;
  pointer-events: all;
}

.delete-work-item {
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  position: absolute; 
  border: 2px solid var(--red);
  border-radius: 50%;
  background-color: var(--white);
  width: 1.25rem;
  aspect-ratio: 1;
  top: 0;
  right: 0;
  padding: 0.2rem;
  transform: translate(50%, -50%);
  transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) .25s;
  cursor: pointer;
}

.work-item input {
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  width: 100%;
  background-color: transparent;
}

.work-item input:focus {
  outline: 3px solid var(--orange);
  outline-offset: 3px;
}

.job-descs {
  border: none;
  padding: 0;
}

.job-desc-container {
  display: flex;
  gap: 0.5rem;
}

.delete-job-desc {
  flex: none;
  align-self: center;
  background: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
  height: 1.3rem;
}

.add-work,
.add-job-desc {
  width: 100%;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.job-desc-container {
  margin-bottom: 0.5rem;
}

.dates {
  display: flex;
  justify-content: space-between;
}
